.tool-versions
__pycache__/
*.py[cod]
*$py.class
venv/


corpus.pkl
dictionary.gensim
model5.gensim
model5.gensim.expElogbeta.npy
model5.gensim.id2word
model5.gensim.state
vendor/
venv*

cache.*
*.png
